@{
    ViewData["Title"] = "Memorandum of Understanding";
}
<head>
    <style>





    </style>
</head>
<body>



    <!--/***************************************/
             ----   section-1  ----
         ----   OTHER DEFENITIONS  ----
    /***************************************/-->

    <div class="section2 color-pellette-2">
        <div class="row">
            <div class="large-2 medium-12 small-12 padding_20 columns">
                <img src="images/hsrclogo@2x.png" width="180px" class="logo" alt="" />

            </div>

            <div class="large-10 medium-12 small-12 columns padding_35 navigator">
                <nav id="main-nav">

                    <!-- Mobile menu toggle button (hamburger/x icon) -->
                    <input id="main-menu-state" type="checkbox" />
                    <label class="main-menu-btn" for="main-menu-state">
                        <span class="main-menu-btn-icon"></span> Toggle main menu visibility
                    </label>


                    <!-- Sample menu definition -->
                    <ul id="main-menu" class="sm sm-mint">
                        <li><a asp-controller="Projects1" asp-action="Index">Time Recording</a></li>
                        <li>
                            <a href="#">About</a>
                            <ul>
                                <li><a href="#">Introduction to SmartMenus jQuery</a></li>
                                <li><a href="#">Demos + themes</a></li>
                                <li><a href="#">The author</a></li>
                                <li>
                                    <a href="#">The company</a>
                                    <ul>
                                        <li><a href="#">About Vadikom</a></li>
                                        <li><a href="#">Projects</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Privacy policy</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a asp-controller="Projects" asp-action="Index">Projects</a></li>
                        <li class="dropdowng color-pellette-0">
                            <a asp-controller="Projects1" asp-action="Index">Reports</a>
                            <ul class="dropdowng-menu color-pellette-0">
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="GiftDisplay" asp-action="Index">Perfomance indicators</a>
                                </li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Projects Reports</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Contract Reports</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Program Reports</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Employees Report </a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Spend Procurement Report</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Project Budget Report</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Dataset Report</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Resourse Output</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Time Recording </a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Interns </a></li>
                                <li class="color-pellette-0">
                                    <a asp-controller="GiftDisplay" asp-action="Index">Gift </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="MyGift" asp-action="Index">My Gift</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="GiftDisplay" asp-action="Index">MoUs </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="MoUReportActiveMou" asp-action="Index">Active MoUs</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUReportAllMou" asp-action="Index">All MoUs</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUReportRequest" asp-action="Index">MoUs Request</a></li>

                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a asp-controller="Projects1" asp-action="Index">Budget</a>
                        </li>
                        <li class="dropdowng color-pellette-0">
                            <a asp-controller="BudgetYears" asp-action="Index">SYSTEM MANAGEMENT</a>
                            <ul class="dropdowng-menu color-pellette-0">
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="" asp-action="Index">Gift Register </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Add Gift</a></li>

                                    </ul>
                                </li>
                                <li class="color-pellette-0"><a asp-controller="DataSet" asp-action="Index">DataSets</a></li>

                                <li class="color-pellette-0"><a asp-controller="License" asp-action="Index">License Adminstrator</a></li>
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="" asp-action="Index">MoUs </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="MoUCreate" asp-action="Index">Create MoU Request</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUView" asp-action="Index">View MoU Request</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUActivity" asp-action="Index">MoU Activity</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUManage1" asp-action="Index">Manage MoU Requests</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUManage2" asp-action="Index">Manage MoU Requests(Legal)</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUManage3" asp-action="Index">Manage MoU Requests(CEO)</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a asp-controller="TeamConfigure" asp-action="Index">TEAM MANAGEMENT</a></li>
                        <li><a asp-controller="AccessGroups" asp-action="Index">ACCESS GROUPS</a></li>
                    </ul>
                </nav>

            </div>

        </div>

    </div>


    <!--/***************************************/
             ----   section-3  ----
         ----   OTHER DEFENITIONS  ----
    /***************************************/-->

    <div class="section3 color-pellette-8 text-center">
        <div class="row padding_40 ">
            <div class="columns small-8 medium-centered small-centered large-centered">
                <h4>List of MoUs (records found: 2)</h4>
                <p class="anim-text">Social science that makes a difference</p>
            </div>
            <a asp-controller="Home" asp-action="Index"
               class="button radius padding_10">Back</a>
            <a asp-controller="Home" asp-action="Index"
               class="button radius padding_10">Home</a>
        </div>
    </div>



    <div class="section5 color-pellette-5">
        <div class="row collapse" data-equalizer>
            <div class="large-12 medium-12 small-12 columns">
                <div class="large-12 medium-12 small-12 columns padding_10 data-equalizer-watch">


                    <div class="content-blocks content-blocks-0  ">
                        <!--
                        <div class="container-modal">
                            <div class="box" id="left-box">
                                <p>Item 1</p>
                                <p>Item 2</p>
                                <p>Item 3</p>
                            </div>
                            <div class="buttons">
                                <button id="move-left">Move Left</button>
                                <button id="move-right">Move Right</button>
                            </div>
                            <div class="box" id="right-box">
                            </div>
                        </div>
                        -->

                        <div class="above-table">
                            <div class="buttons-row ">

                                <button class="download-buttons">Print</button>
                                <button class="download-buttons">Copy</button>
                                <button class="download-buttons">Excel</button>
                                <button class="download-buttons">CSV</button>
                                <div class="custom-text1">Show </div>
                                <select class="custom-select" onchange="showNumberOfRows(this)">
                                    <option value="---">---</option>

                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="10">25</option>
                                    <option value="35">35</option>
                                    <option value="50">50</option>

                                </select>
                                <div class="custom-text2"> entries</div>
                            </div>
                            <div>
                                <div class="search-box">
                                    <input type="text" placeholder="Search" id="search-input" onkeyup="filterTable()">
                                </div>
                            </div>
                        </div>

                        <table id="event-table">

                            <thead>
                                <tr class="color-pellette-0">
                                    <th scope="col" width="7%">MoU</th>
                                    <th scope="col" width="5%">Reg. Date</th>
                                    <th scope="col" width="16%">Title</th>
                                    <th scope="col" width="6%">End Date</th>
                                    <th scope="col" width="4%">status</th>
                                    <th scope="col" width="5%">Program</th>
                                    <th scope="col" width="16%">Agreement With</th>
                                    <th scope="col" width="2%">HDI</th>
                                    <th scope="col" width="6%">Actions</th>


                                </tr>
                            </thead>
                            <tbody>

                                <tr class="table-row">
                                    <td data-label="Budget Year" class="color-pellette-4">20162859AM/00	</td>
                                    <td data-label="Mou Unit">14/DEC/2016	</td>
                                    <td data-label="Reference Number">
                                        MOU Collaboration between the scholarly/university presses of South Africa
                                    </td>
                                    <td data-label="MoU Name">2028-02-26</td>
                                    <td data-label="Type of Agreement">Open</td>
                                    <td data-label="Status">AISA	</td>
                                    <td data-label="Status">Wits University, UNISA Press, UKZN Press, UCT Press and Juta and Company (Pty) Ltd	</td>
                                    <td data-label="Status">
                                        <input type="checkbox" id="vehicle3">
                                    </td>

                                    <td data-label="Action">
                                        <label>
                                            <select id="action-select" onchange="modalHandler.handleActionChange('action-select')">
                                                <option value="--">--- select--</option>
                                                <option value="View">View</option>
                                                <option value="Activity">Activities</option>
                                                <option value="Assign">Assign </option>

                                            </select>
                                        </label>

                                    </td>
                                </tr>

                                <tr class="table-row">
                                    <td data-label="Budget Year" class="color-pellette-4">20162859AM/00	</td>
                                    <td data-label="Mou Unit">14/DEC/2016	</td>
                                    <td data-label="Reference Number">
                                        MOU Collaboration between the scholarly/university presses of South Africa
                                    </td>
                                    <td data-label="MoU Name">2028-02-26</td>
                                    <td data-label="Type of Agreement">Open</td>
                                    <td data-label="Status">AISA	</td>
                                    <td data-label="Status">Wits University, UNISA Press, UKZN Press, UCT Press and Juta and Company (Pty) Ltd	</td>
                                    <td data-label="Status">
                                        <input type="checkbox" id="vehicle3">
                                    </td>

                                    <td data-label="Action">
                                        <label>
                                            <select id="action-select" onchange="modalHandler.handleActionChange('action-select')">
                                                <option value="--">--- select--</option>
                                                <option value="View">View</option>
                                                <option value="Activity">Activities</option>
                                                <option value="Assign">Assign </option>

                                            </select>
                                        </label>


                                    </td>
                                </tr>



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="myModal" class="my-modal">
        <div class="my-modal-content-file-form">
            <span class="my-close" onclick="modalHandler.closeModal('myModal')">&times;</span>
            <div class="my-modal-content-header">
                <h4>MoU details </h4>

            </div>
            <div class="my-modal-content-body">
                <table id="event-table">
                    <tr class="data-row">
                        <td data-label="Budget Year" class="color-pellette-4 short-column">
                            Title
                        </td>
                        <td data-label="Mou Unit">
                            MOU Collaboration between the scholarly/university presses of South Africa
                        </td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">Contract number	</td>
                        <td data-label="Mou Unit">
                            20162859AM/00
                        </td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">Program (s)	</td>
                        <td data-label="Mou Unit">L</td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">Location is Pretoria?</td>
                        <td data-label="Mou Unit"></td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">Transaction Type</td>
                        <td data-label="Mou Unit">Non Financial</td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">Foreign amount</td>
                        <td data-label="Mou Unit">0.00</td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">Rand amount</td>
                        <td data-label="Mou Unit">0</td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">Agreement type</td>
                        <td data-label="Mou Unit">M</td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">Research contract?</td>
                        <td data-label="Mou Unit">YES</td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">Contract document</td>
                        <td data-label="Mou Unit">11/DEC/2015</td>
                    </tr>
                </table>
            </div>

            <div class="my-modal-content-header">
                <h4>Contract dates </h4>

            </div>
            <div class="my-modal-content-body">
                <table id="event-table">
                    <tr class="data-row">
                        <td data-label="Budget Year" class="color-pellette-4 short-column">

                            Start date
                        </td>
                        <td data-label="Mou Unit">	09/OCT/2019</td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">End date</td>
                        <td data-label="Mou Unit">08/OCT/2024</td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">Registration date</td>
                        <td data-label="Mou Unit">09/OCT/2019</td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">Registration year</td>
                        <td data-label="Mou Unit">2019</td>
                    </tr>

                </table>
            </div>

            <div class="my-modal-content-header">
                <h4>People and institutions </h4>

            </div>
            <div class="my-modal-content-body">
                <table id="event-table">
                    <tr class="data-row">
                        <td data-label="Budget Year" class="color-pellette-4 short-column">

                            Contracting party
                        </td>
                        <td data-label="Mou Unit">
                            Wits University, UNISA Press, UKZN Press, UCT Press and Juta and Company (Pty) Ltd
                        </td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">Responsible persons	</td>
                        <td data-label="Mou Unit"></td>
                    </tr>


                </table>
            </div>

            <div class="my-modal-content-header">
                <h4>Location details </h4>

            </div>
            <div class="my-modal-content-body">
                <table id="event-table">
                    <tr class="data-row">
                        <td data-label="Budget Year" class="color-pellette-4 short-column">

                            Country
                        </td>
                        <td data-label="Mou Unit">South Africa</td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">City</td>
                        <td data-label="Mou Unit"></td>
                    </tr>


                </table>
            </div>

            <div class="my-modal-content-header">
                <h4>Narratives </h4>

            </div>
            <div class="my-modal-content-body">
                <table id="event-table">
                    <tr class="data-row">
                        <td data-label="Budget Year" class="color-pellette-4 short-column">
                            Description
                        </td>
                        <td data-label="Mou Unit"></td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">General comments	</td>
                        <td data-label="Mou Unit"></td>
                    </tr>

                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">HSRC followup	</td>
                        <td data-label="Mou Unit"></td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">Areas of cooperation	</td>
                        <td data-label="Mou Unit"></td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">Research programme	</td>
                        <td data-label="Mou Unit"></td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">Additional information	</td>
                        <td data-label="Mou Unit"></td>
                    </tr>

                </table>
            </div>
            <div class="my-clearfix">
                <button type="button" class="my-cancelbtn" onclick="modalHandler.closeModal('myModal')">Cancel</button>
            </div>
        </div>
    </div>


    <div id="myModal1" class="my-modal">
        <div class="my-modal-content-file-form">
            <span class="my-close" onclick="modalHandler.closeModal('myModal1')">&times;</span>

            <div class="my-modal-content-header">
                <h4>MoU details</h4>

            </div>
            <div class="my-modal-content-body">
                <table id="event-table">
                    <tr class="data-row">
                        <td data-label="Budget Year" class="color-pellette-4 short-column">
                            Title
                        </td>
                        <td data-label="Mou Unit">
                            MOU Collaboration between the scholarly/university presses of South Africa
                        </td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">Contract number	</td>
                        <td data-label="Mou Unit">
                            20162859AM/00
                        </td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">Program (s)	</td>
                        <td data-label="Mou Unit">L</td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">Location is Pretoria?</td>
                        <td data-label="Mou Unit"></td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">Transaction Type</td>
                        <td data-label="Mou Unit">Non Financial</td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">Foreign amount</td>
                        <td data-label="Mou Unit">0.00</td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">Rand amount</td>
                        <td data-label="Mou Unit">0</td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">Agreement type</td>
                        <td data-label="Mou Unit">M</td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">Research contract?</td>
                        <td data-label="Mou Unit">YES</td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">Contract document</td>
                        <td data-label="Mou Unit">11/DEC/2015</td>
                    </tr>
                </table>
            </div>

            <div class="my-modal-content-header">
                <h4>MoU activities </h4>

            </div>
            <div class="my-modal-content-body">
                <table id="event-table">
                    <tr class="data-row">
                        <td data-label="Budget Year" class="color-pellette-4 short-column">

                            Start date
                        </td>
                        <td data-label="Mou Unit">	09/OCT/2019</td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">End date</td>
                        <td data-label="Mou Unit">08/OCT/2024</td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">Registration date</td>
                        <td data-label="Mou Unit">09/OCT/2019</td>
                    </tr>
                    <tr>
                        <td data-label="Budget Year" class="color-pellette-4">Registration year</td>
                        <td data-label="Mou Unit">2019</td>
                    </tr>

                </table>
            </div>

            <div class="my-modal-content-header">
                <h4>Enter activity </h4>

            </div>
            <div class="my-modal-content-body">
                <form>
                    <div class="">
                        <div class="search-section">

                            <div class="medium-12 cell ">
                                <label>
                                    is this an activity?
                                    <span class="mandatory-star">*</span>

                                    <select>
                                        <option value="D -GE Support Service">-----</option>
                                        <option value="D -GE Support Service">D -GE Support Service</option>

                                    </select>
                                </label>
                            </div>
                            <div class="medium-12 cell">
                                <label>
                                    Activity  Date
                                    <input type="date" />

                                </label>
                            </div>
                            <div class="medium-12 cell">
                                <label>
                                    Document
                                    <input type="file" accept=".pdf, .jpg, .png" />


                                </label>
                            </div>



                            <div class="medium-12 cell">
                                <label>
                                    Activity
                                    <textarea id="comment-input" rows="1" oninput="adjustHeight()"></textarea>

                                </label>
                            </div>


                        </div>
                    </div>
                </form>

            </div>
            <div class="my-clearfix">
                <button type="button" class="my-cancelbtn" onclick="modalHandler.closeModal('myModal1')">Cancel</button>
                <button type="button" class="my-deletebtn1" onclick="deleteAccount()">Save</button>

            </div>
        </div>
    </div>

    <div id="myModal2" class="my-modal">
        <div class="my-modal-content-selector-box">
            <span class="my-close" onclick="modalHandler.closeModal('myModal2')">&times;</span>
            <div class="my-modal-content-header">
                <h4>MoU details </h4>

            </div>
            <div class="my-modal-content-body">
                <div class="listbox-area">

                    <div class="box">
                        <span id="ss_elem" style="font-size: 15px;font-weight:bold">Available Keywords:</span>
                        <select id="ss_elem_list" tabindex="0" role="listbox" aria-labelledby="ss_elem" size="10">
                            <option>fees must fall</option>
                            <option>abuse</option>
                            <option>academic stability</option>
                            <option>academic achievement</option>
                            <option>access computer</option>
                            <option>access security</option>
                            <option>adults</option>

                        </select>
                    </div>
                    <div class="button-container">
                        <img src="images/right-arrow.png" style="height: 50px; width: 50px;" alt="" />

                        <img src="images/left-arrow (1).png" style="height: 50px; width: 50px;" alt="" />

                    </div>

                    <div class="box">
                        <span id="ss_elem" style="font-size: 15px;font-weight:bold"> selected keywords:</span>
                        <select id="ss_elem_list" tabindex="0" role="listbox" aria-labelledby="ss_elem" size="10">
                            <option>Abuse</option>

                        </select>
                    </div>
                </div>
            </div>
            <div class="my-clearfix">
                <button type="button" class="my-cancelbtn" onclick="modalHandler.closeModal('myModal2')">Cancel</button>
                <button type="button" class="my-deletebtn1" onclick="deleteAccount()">Add</button>
            </div>
        </div>
    </div>

    <!--/***************************************/
                  Java scripts
    /***************************************/-->

    <script src="~/js/JavaScript.js"></script>

    <script>
        modalHandler.registerModal('myModal');
        modalHandler.registerModal('myModal1');
        modalHandler.registerModal('myModal2');

        function handleActionChange(selectId) {mo
            modalHandler.handleActionChange(selectId);
        }
        document.addEventListener("DOMContentLoaded", () => {
            animationsHandler.applyTableAnimation(); // <!--responsible for text animation-- >

        });
    </script>

</body>
