 @{
    ViewData["Title"] = "Edit +Page";
}

<body>



	<!--/***************************************/
			 ----   section-2  ----
		 ----   OTHER DEFENITIONS  ----
	/***************************************/-->

	<div class="section2 color-pellette-2">
		<div class="row">
			<div class="large-2 medium-12 small-12 padding_20 columns">
				<img src="images/hsrclogo@2x.png" width="180px" class="logo" alt="" />

			</div>

			<div class="large-10 medium-12 small-12 columns padding_35 navigator">

				<nav id="main-nav">

					<!-- Mobile menu toggle button (hamburger/x icon) -->
					<input id="main-menu-state" type="checkbox" />
					<label class="main-menu-btn" for="main-menu-state">
						<span class="main-menu-btn-icon"></span> Toggle main menu visibility
					</label>


					<!-- Sample menu definition -->
					<ul id="main-menu" class="sm sm-mint">
						<li class="current"><a href="#">Time Recording</a></li>
						<li>
							<a href="#">About</a>
							<ul>
								<li><a href="#">Introduction to SmartMenus jQuery</a></li>
								<li><a href="#">Demos + themes</a></li>
								<li><a href="#">The author</a></li>
								<li>
									<a href="#">The company</a>
									<ul>
										<li><a href="#">About Vadikom</a></li>
										<li><a href="#">Projects</a></li>
										<li><a href="#">Services</a></li>
										<li><a href="#">Privacy policy</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="#">Reports</a></li>
						<li>
							<a href="#">Research output</a>
							<ul>
								<li><a href="#">Premium support list</a></li>
								<li><a href="#">Forums</a></li>
							</ul>
						</li>
						<li><a href="#">MANAGEMENT</a></li>
						<li>
							<a href="#">Sub test</a>
							<ul>
								<li><a href="#">Dummy item</a></li>
								<li><a href="#">Dummy item</a></li>
								<li><a href="#" class="disabled">Disabled menu item</a></li>
								<li><a href="#">Dummy item</a></li>
								<li>
									<a href="#">more...</a>
									<ul>
										<li><a href="#">A pretty long text to test the default subMenusMaxWidth:20em setting for the sub menus</a></li>
										<li><a href="#">Dummy item</a></li>
										<li><a href="#">Dummy item</a></li>
										<li><a href="#">Dummy item</a></li>
										<li><a href="#">Dummy item</a></li>
										<li><a href="#">Dummy item</a></li>
										<li>
											<a href="#">more...</a>
											<ul>
												<li><a href="#">Dummy item</a></li>
												<li><a href="#" class="current">A 'current' class item</a></li>
												<li><a href="#">Dummy item</a></li>
												<li>
													<a href="#">more...</a>
													<ul>
														<li><a href="#">subMenusMinWidth</a></li>
														<li><a href="#">10em</a></li>
														<li><a href="#">forced.</a></li>
													</ul>
												</li>
												<li><a href="#">Dummy item</a></li>
												<li><a href="#">Dummy item</a></li>
											</ul>
										</li>

										<li><a href="#">Dummy item</a></li>
										<li><a href="#">Dummy item</a></li>
										<li><a href="#">Dummy item</a></li>
										<li><a href="#">Dummy item</a></li>
										<li><a href="#">Dummy item</a></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</nav>

			</div>

		</div>

	</div>


	<!--/***************************************/
			 ----   section-3  ----
		 ----   OTHER DEFENITIONS  ----
	/***************************************/-->

	<div class="section3 color-pellette-8 text-center">
		<div class="row padding_40 ">
			<div class="columns small-8 medium-centered small-centered large-centered">
				<h4>SYSTEMS CONFIGURATION</h4>
				<p>Social science that makes a difference</p>
			</div>

		</div>
	</div>

	<!--/***************************************/
			 ----   section-5  ----
		 ----   OTHER DEFENITIONS  ----
	/***************************************/-->

	<div class="section5 color-pellette-5">
		<div class="row collapse" data-equalizer>
			<div class="large-9 medium-12 small-12 columns">
				<div class="large-12 medium-12 small-12 columns padding_10 data-equalizer-watch">
					<div class="large-12 medium-6 columns padding_10 data-equalizer-watch">
						<div class="content-blocks content-blocks-widget-1">
							<div class="wgt">
								<h3>Edit Units</h3>
								<form>
									<div class="">
										<div class="search-section">
											<label>Year</label>
											<div class="medium-12 cell ">
												<input type="text" placeholder="18/19" />
											</div>
											<label>Group Code</label>
											<div class="medium-12 cell ">
												<input type="text" placeholder="IRT" />
											</div>
											<label>Group Name</label>
											<div class="medium-12 cell ">
												<input type="text" placeholder="Internal Research Team" />
											</div>

										</div>
									</div>
								</form>
								<a asp-controller="UnitProgrammes" asp-action="Index"
		   class="button radius padding_10">Edit</a>
							</div>
						</div>
					</div>
				</div>





			</div>
		</div>




	</div>

	<!--/***************************************/
			 ----   section-6  ----
		 ----   OTHER DEFENITIONS  ----
	/***************************************/-->
	<div class="section6 color-pellette-5 padding_20">
		<div class="row collapse color-pellette-5 hide-for-large show-for-small-only">
			<div class="wrappon">
				<div class="large-12 color-pellette-2 columns up-section">
					<div class="large-3 medium-6 small-6 columns padding_20">
						<div class="blocks blocks-1">
							<div class="large-7 medium-7 small-12 columns padding_40"><h3>Uploaded Documents for the month <br><hlite>59%</hlite></h3></div>
							<div class="large-5 medium-5 small-12 columns padding_20 hide"><img src="images/Group81.png" alt="" /></div>
						</div>
					</div>
					<div class="large-3 medium-6 small-6 columns padding_20">
						<div class="blocks blocks-2">
							<div class="large-7 medium-7 small-12 columns padding_40"><h3>Data captured for the for the month<br><hlite>80%</hlite></h3></div>
							<div class="large-5 medium-5 small-12 columns padding_20 hide"><img src="images/graph-report.png" alt="" /></div>

						</div>
					</div>
					<div class="large-3 medium-6 small-6 columns padding_20">
						<div class="blocks blocks-3">

							<div class="large-7 medium-7 small-12 columns padding_30"><h3>Data modifications for the month<br><hlite>40%</hlite></h3></div>
							<div class="large-5 medium-5 small-12 columns padding_20 hide"><img src="images/Group112.png" alt="" /></div>

						</div>
					</div>
					<div class="large-3 medium-6 small-6 columns padding_20">
						<div class="blocks blocks-4">
							<div class="large-12 columns padding_20">
								<h3>LATEST DATA ENTRIES </h3>
								<ul>
									<li>Interpark South Africa Pty Ltd</li>
									<li>Interpark South Africa Pty Ltd</li>
								</ul>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!--/***************************************/
			 ----   section-7  ----
		 ----   OTHER DEFENITIONS  ----
	/***************************************/-->

	<div class="section7 color-pellette-0">
		<div class="row padding_20 ">
			<div class="columns small-8 large-centered medium-centered small-centered text-center text-pellette-6">

				© 2022 The Human Sciences Research Council (HSRC) Management system.

			</div>
		</div>
	</div>

	<!--/***************************************/
				  Java scripts
	/***************************************/-->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="js/js.js"></script>

	<!-- SmartMenus jQuery plugin -->
	<script type="text/javascript" src="js/jquery.smartmenus.js"></script>

	<!-- SmartMenus jQuery init -->
	<script type="text/javascript">
		$(function () {
			$('#main-menu').smartmenus({
				subMenusSubOffsetX: 1,
				subMenusSubOffsetY: -8
			});
		});

	</script>

	<script src="js/vendor/what-input.js"></script>
	<script src="js/vendor/foundation.js"></script>
	<script type="text/javascript" src="script.js">	</script>




</body>