@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .mandatory-star {
            color: red; /* Set the color of the star */
            margin-left: 3px; /* Adjust the space between the label and the star */
        }
        .comments-container {
            max-height: 500px; /* Set a maximum height for the container */
            overflow-y: auto; /* Add vertical scrollbar when the content exceeds the maximum height */
        }
        .event-form{
            align-content:center;
            justify-content:center;
        }
        .save-buttons {
            background-color: grey;
            height: 35px;
            width: 50px;
            border-radius: 6px;
            color: white;
            font-family: inherit;
            margin-top: 15px;
        }
        .cancel-buttons {
            background-color: grey;
            height: 35px;
            width: 70px;
            border-radius: 6px;
            color: white;
            font-family: inherit;
            margin-top: 15px;
        }
        .buttons-row {
            display: flex; /* Nested flex container */
            gap: 10px; /* Add spacing between buttons and select */
        }
        .section5 {
          
            justify-content: center;
            align-items: center;
            
        }
        .required{
            display:flex;
            color:red;
            justify-content:flex-end;
        }
    </style>
</head>
<body>



    <!--/***************************************/
             ----   section-1  ----
         ----   OTHER DEFENITIONS  ----
    /***************************************/-->

    <div class="section2 color-pellette-2">
        <div class="row">
            <div class="large-2 medium-12 small-12 padding_20 columns">
                <img src="images/hsrclogo@2x.png" width="180px" class="logo" alt="" />

            </div>

            <div class="large-10 medium-12 small-12 columns padding_35 navigator">

                <nav id="main-nav">

                    <!-- Mobile menu toggle button (hamburger/x icon) -->
                    <input id="main-menu-state" type="checkbox" />
                    <label class="main-menu-btn" for="main-menu-state">
                        <span class="main-menu-btn-icon"></span> Toggle main menu visibility
                    </label>


                    <!-- Sample menu definition -->
                    <ul id="main-menu" class="sm sm-mint">
                        <li><a asp-controller="Projects1" asp-action="Index">Time Recording</a></li>
                        <li>
                            <a href="#">About</a>
                            <ul>
                                <li><a href="#">Introduction to SmartMenus jQuery</a></li>
                                <li><a href="#">Demos + themes</a></li>
                                <li><a href="#">The author</a></li>
                                <li>
                                    <a href="#">The company</a>
                                    <ul>
                                        <li><a href="#">About Vadikom</a></li>
                                        <li><a href="#">Projects</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Privacy policy</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a asp-controller="Projects" asp-action="Index">Projects</a></li>
                        <li class="dropdowng color-pellette-0">
                            <a asp-controller="Projects1" asp-action="Index">Reports</a>
                            <ul class="dropdowng-menu color-pellette-0">
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="GiftDisplay" asp-action="Index">Perfomance indicators</a>
                                </li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Projects Reports</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Contract Reports</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Program Reports</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Employees Report </a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Spend Procurement Report</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Project Budget Report</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Dataset Report</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Resourse Output</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Time Recording </a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Interns </a></li>
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="GiftDisplay" asp-action="Index">Gift </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="MyGift" asp-action="Index">My Gift</a></l>
                                    </ul>
                                </li>
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="GiftDisplay" asp-action="Index">MoUs </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="ActiveMoUs" asp-action="Index">Active MoUs</a></li>
                                        <li class="color-pellette-0"><a asp-controller="AllMoUs" asp-action="Index">All MoUs</a></l>
                                        <li class="color-pellette-0"><a asp-controller="MoUsRequest" asp-action="Index">MoUs Request</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a asp-controller="Projects1" asp-action="Index">Budget</a>
                        </li>
                        <li><a asp-controller="BudgetYears" asp-action="Index">SYSTEM MANAGEMENT</a></li>
                        <li><a asp-controller="TeamConfigure" asp-action="Index">TEAM MANAGEMENT</a></li>
                        <li><a asp-controller="AccessGroups" asp-action="Index">ACCESS GROUPS</a></li>
                    </ul>
                </nav>

            </div>

        </div>

    </div>



    <!--/***************************************/
             ----   section-3  ----
         ----   OTHER DEFENITIONS  ----
    /***************************************/-->

    <div class="section3 color-pellette-8 text-center">
        <div class="row padding_40 ">
            <div class="columns small-8 medium-centered small-centered large-centered">
                <h4>Research Output Registration</h4>
                <p class="anim-text">Social science that makes a difference</p>
            </div>
            <a asp-controller="Research" asp-action="Index"
               class="button radius padding_10">Back</a>
            <a asp-controller="Home" asp-action="Index"
               class="button radius padding_10">Home</a>
        </div>
    </div>




    <div class="section5  color-pellette-5 form-center">
        <div class="row collapse  form-center " data-equalizer>
            <div class="large-12 medium-12 small-12 columns">
                <div class="large-12 medium-12 small-12 columns padding_10 data-equalizer-watch  ">
                    <div class="content-blocks content-blocks-0 ">
                        <div class="required"><span class="mandatory-star">*</span> Required </div>

                    <form>
                        <div class="">
                            <div class="search-section">

                                <div class="medium-12 cell ">
                                    <label>
                                        Output Type
                                        <span class="mandatory-star" >*</span>

                                        <select id="event-type-select" onchange="showUploadSection()">
                                            <option value="1">Please Choose Output type</option>
                                            <option value="2">Community innovations supported or enabled by HSRC research</option>
                                            <option value="3">Conferences or training academics for young african scholars</option>
                                            <option value="4">Event dealing with the eradication of poverty , reduction of inequalities and/or promotion of employment convened by the HSRC</option>
                                            <option value="5">Research related engagements with communities and civil society forums</option>
                                            <option value="6">Conferences or training academics for young african scholars</option>

                                        </select>
                                    </label>
                                </div>
                                <div class="medium-12 cell">
                                    <label>
                                        Title
                                        <span class="mandatory-star">*</span>

                                        <input type="text" />
                                    </label>
                                </div>
                                    <div class="medium-12 cell">
                                        <label>
                                            Submitting Author
                                            <span class="mandatory-star">*</span>
                                            <select>
                                                <option value="D -GE Support Service">-----</option>
                                                <option value="D -GE Support Service">Mr B Connectionz</option>
                                                 <option value="D -GE Support Service">Mr B Connectionz</option>
                                            </select>
                                        </label>
                                    </div>

                                <div id="upload-section" class="upload form-center ">
                                    <div class="medium-12 cell">
                                        <label>
                                            Output Copy
                                            <span class="mandatory-star">*</span>

                                            <input type="file" accept=".pdf, .jpg, .png" />

                                        </label>
                                    </div>

                                    <div class="medium-12 cell">
                                        <label>
                                            Sign off Form
                                            <span class="mandatory-star">*</span>

                                            <input type="file" accept=".pdf, .jpg, .png" />

                                        </label>
                                    </div>
                                </div>


                                <div class="medium-12 comments-container ">
                                    <label>
                                        Comments
                                        <textarea id="comment-input" rows="1" oninput="adjustHeight()"></textarea>
                                    </label>
                                </div>


                                <div class="medium-12 cell buttons-row">
                                        <button class="save-buttons">Save</button>
                                        <button  asp-controller="Research" asp-action="Index" class="cancel-buttons">Cancel</button>
                                </div>
                                

                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
          
        </div>




    </div>


    <!--/***************************************/
                  Java scripts
    /***************************************/-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/js.js"></script>


    <!-- SmartMenus jQuery plugin -->
    <script type="text/javascript" src="js/jquery.smartmenus.js"></script>

    <!-- SmartMenus jQuery init -->
    <script type="text/javascript">
        $(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });
        });


        function adjustHeight() {
            const inputElement = document.getElementById('comment-input');
            const containerElement = inputElement.closest('.comments-container');

            // Reset the height of the container to allow auto-adjustment
            containerElement.style.height = 'auto';

            // Adjust the height based on the content
            containerElement.style.height = inputElement.scrollHeight + 'px';
        }

        function showUploadSection() {
            const selectElement = document.getElementById('event-type-select');
            const selectedOptionValue = selectElement.value;
            const uploadSection = document.getElementById('upload-section');

            if (selectedOptionValue !== '1') {
                uploadSection.style.display = 'block';
            } else {
                uploadSection.style.display = 'none';
            }
        }


        function showNumberOfRows(selectElement) {
            const numRows = parseInt(selectElement.value);
            const tableRows = document.querySelectorAll('#event-table tbody tr');

            for (let i = 0; i < tableRows.length; i++) {
                if (i < numRows) {
                    tableRows[i].style.display = '';
                } else {
                    tableRows[i].style.display = 'none';
                }
            }
        }

    </script>
    <script>
        var textWrapper = document.querySelector('.anim-text');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline({ loop: true })
            .add({
                targets: '.anim-text .letter',
                scale: [4, 1],
                opacity: [0, 1],
                translateZ: 0,
                easing: "easeOutExpo",
                duration: 950,
                delay: (el, i) => 70 * i
            }).add({
                targets: '.anim-text',
                opacity: 0,
                duration: 1000,
                easing: "easeOutExpo",
                delay: 1000
            });
    </script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script type="text/javascript" src="script.js"></script>




</body>
