@{
    ViewData["Title"] = "Event Page";
}
<!DOCTYPE html>
<html>
<head>

    <style>
        /*memorandum of request styling start*/
        .cards-list {
            display: flex;
            justify-content: space-around;
        }

        figure {
            display: grid;
            border-radius: 1rem;
            overflow: hidden;
            cursor: pointer;
            margin: 0 10px; /* Add some margin between the cards */
        }

            figure > * {
                grid-area: 1/1;
                transition: 0.4s;
            }

            figure figcaption {
                display: grid;
                align-items: end;
                font-size: 25px;
                font-weight: bold;
                color: #0000;
                padding: 0.75rem;
                background: var(--c, #0009);
                clip-path: inset(0 var(--_i, 100%) 0 0);
                -webkit-mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
                -webkit-mask-composite: xor;
                -webkit-mask-clip: text, padding-box;
                margin: -1px;
                justify-content: center;
            }

            figure:hover figcaption {
                --_i: 0%;
            }

            figure:hover img {
                transform: scale(1.2);
            }

            figure .card_image {
                width: 200px;
                height: 200px;
                border-radius: 1rem;
                overflow: hidden;
            }

                figure .card_image img {
                    width: 100%;
                    height: 100%;
                    border-radius: 1rem;
                    object-fit: cover;
                }
          
    </style>
</head>
<body>



    <!--/***************************************/
             ----   section-1  ----
         ----   OTHER DEFENITIONS  ----
    /***************************************/-->

    <div class="section2 color-pellette-2">
        <div class="row">
            <div class="large-2 medium-12 small-12 padding_20 columns">
                <img src="images/hsrclogo@2x.png" width="180px" class="logo" alt="" />

            </div>

            <div class="large-10 medium-12 small-12 columns padding_35 navigator">

                <nav id="main-nav">

                    <!-- Mobile menu toggle button (hamburger/x icon) -->
                    <input id="main-menu-state" type="checkbox" />
                    <label class="main-menu-btn" for="main-menu-state">
                        <span class="main-menu-btn-icon"></span> Toggle main menu visibility
                    </label>


                    <!-- Sample menu definition -->
                    <ul id="main-menu" class="sm sm-mint color-pellette-0">
                        <li><a asp-controller="TimeRecordings" asp-action="Index">Time Recording</a></li>
                        <li><a asp-controller="Projects" asp-action="Index">Projects</a></li>
                        <li class="dropdowng color-pellette-0">
                            <a asp-controller="Projects1" asp-action="Index">Reports</a>
                            <ul class="dropdowng-menu color-pellette-0">
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="GiftDisplay" asp-action="Index">Perfomance indicators</a>
                                </li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Projects Reports</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Contract Reports</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Program Reports</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Employees Report </a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Spend Procurement Report</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Project Budget Report</a></li>
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="GiftDisplay" asp-action="Index">Dataset Report</a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="has-submenu color-pellette-0">
                                            <a asp-controller="MyGift" asp-action="Index">Data Set Reports</a>
                                            <ul class="subg-menu color-pellette-0">
                                                <li class="has-submenu color-pellette-0">
                                                    <a asp-controller="DataSetReportKtree" asp-action="Index">Ktree file/Meta Data</a>
                                                </li>

                                            </ul>
                                        </li>

                                        <li class=" color-pellette-0">
                                            <a asp-controller="DataSetCitation" asp-action="Index">Dataset Citation Report</a>

                                        </li>

                                    </ul>
                                </li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Resourse Output</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Time Recording </a></li>
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="" asp-action="Index">Interns </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="InternsReportCy" asp-action="Index">Current Year</a></li>
                                        <li class="color-pellette-0"><a asp-controller="InternsReportCyDegree" asp-action="Index">Current Year - by degree</a></li>
                                        <li class="color-pellette-0"><a asp-controller="InternsReportCyUnit" asp-action="Index">Current Year - by Unit</a></li>
                                        <li class="color-pellette-0"><a asp-controller="InternsReportCyRegion" asp-action="Index">Current Year - by Region</a></li>
                                        <li class="color-pellette-0"><a asp-controller="InternsReportPyear" asp-action="Index">Previous Interns</a></li>

                                    </ul>
                                </li>

                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="" asp-action="Index">Gift </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="MyGift" asp-action="Index">My Gift</a></li>

                                    </ul>
                                </li>
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="" asp-action="Index">MoUs </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="MoUReportActiveMou" asp-action="Index">Active MoUs</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUReportAllMou" asp-action="Index">All MoUs</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUReportRequest" asp-action="Index">MoUs Request</a></li>

                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a asp-controller="Collaborations1" asp-action="Index">Collabs</a></li>


                        <li class="dropdowng color-pellette-0">
                            <a href="#">Research output</a>
                            <ul class="dropdowng-menu color-pellette-0">
                                <li class="color-pellette-0"><a asp-controller="EventRegistration" asp-action="Index">Output Registration</a></li>
                                <li class="color-pellette-0"><a asp-controller="EventRegistration" asp-action="Index">Event Registration</a></li>
                            </ul>
                        </li>
                        <li>
                            <a asp-controller="Budgets" asp-action="Index">Budgets</a>
                        </li>
                        <li>
                            <a asp-controller="Proposals" asp-action="Index">Proporsals</a>
                        </li>
                        <li class="dropdowng color-pellette-0">
                            <a asp-controller="BudgetYears" asp-action="Index">SYSTEM MANAGEMENT</a>
                            <ul class="dropdowng-menu color-pellette-0">
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="" asp-action="Index">Gift Register </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Add Gift</a></li>

                                    </ul>
                                </li>
                                <li class="color-pellette-0"><a asp-controller="DataSet" asp-action="Index">DataSets</a></li>
                                <li class="color-pellette-0"><a asp-controller="License" asp-action="Index">License Adminstrator</a></li>
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="" asp-action="Index">MoUs </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="MoUCreate" asp-action="Index">Create MoU Request</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUView" asp-action="Index">View MoU Request</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUActivity" asp-action="Index">MoU Activity</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUManage1" asp-action="Index">Manage MoU Requests</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUManage2" asp-action="Index">Manage MoU Requests(Legal)</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUManage3" asp-action="Index">Manage MoU Requests(CEO)</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a asp-controller="TeamConfigure" asp-action="Index">TEAM MANAGEMENT</a></li>
                        <li><a asp-controller="AccessGroups" asp-action="Index">ACCESS GROUPS</a></li>
                    </ul>
                </nav>

            </div>

        </div>

    </div>


    <!--/***************************************/
             ----   section-3  ----
         ----   OTHER DEFENITIONS  ----
    /***************************************/-->

    <div class="section3 color-pellette-8 text-center">
        <div class="row padding_40 ">
            <div class="columns small-8 medium-centered small-centered large-centered">
                <h4>MoU Dashboard</h4>
                <p class="anim-text">Social science that makes a difference</p>
            </div>
        </div>
    </div>


    <div class="section5 color-pellette-5">
        <div class="row collapse" data-equalizer>
            <div class="large-12 medium-12 small-12 columns">
                <div class="large-12 medium-12 small-12 columns padding_10 data-equalizer-watch">


                    <div class="content-blocks content-blocks-0  ">
                    
                            <div class="cards-list">
                                <figure class="card 1">
                                    <div class="card_image">
                                        <img src="~/images/active.png"Card 1" />
                                    </div>
                                    <figcaption >

                                    <a asp-controller="MoUReportActiveMou" asp-action="Index">
                                        Active MoUs
                                    </a>
                                    </figcaption>
                                </figure>

                                <figure class="card 2">
                                    <div class="card_image">
                                        <img src="~/images/all.png"Card 2" />
                                    </div>
                                    <figcaption >

                                    <a asp-controller="MoUReportAllMou" asp-action="Index">
                                        All MoUs
                                    </a>
                                    </figcaption>
                                </figure>
                             
                                <figure class="card 3">
                                    <div class="card_image">
                                        <img src="~/images/track.png"Card 3" />
                                    </div>
                                    <figcaption >
                                    <a asp-controller="MoUReportRequest" asp-action="Index">
                                        Track MoUs Requests
                                    </a>

                                    </figcaption>
                                </figure>

                            </div>
                        



                </div>
            </div>
        </div>
    </div>



    <!--/***************************************/
                  Java scripts
    /***************************************/-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/js.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>


    <!-- SmartMenus jQuery plugin -->
    <script type="text/javascript" src="js/jquery.smartmenus.js"></script>

    <!-- SmartMenus jQuery init -->
    <script type="text/javascript">
        $(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });
        });





        //filter table using the search option
       function FilterTable() {
             const input = document.getElementById('search-input');
                 const filter = input.value.toUpperCase();
              const table = document.getElementById('event-table');
              const rows = table.getElementsByTagName('tr');

              for (let i = 0; i < rows.length; i++) {
                const cells = rows[i].getElementsByTagName('td');
                let found = false;

                for (let j = 0; j < cells.length; j++) {
                  const cellText = cells[j].textContent || cells[j].innerText;
                  if (cellText.toUpperCase().indexOf(filter) > -1) {
                    found = true;
                    break;
                  }
                }

                if (found) {
                  rows[i].style.display = '';
                } else {
                  rows[i].style.display = 'none';
                }
              }
}


        //Table Animation start




        //Table Animation end


        //Text animation start

        //Text animation end


        //filter table on the numer of rows start
        //display table based on the number row
        function showNumberOfRows(selectElement) {
            const numRows = parseInt(selectElement.value);
            const tableRows = document.querySelectorAll('#event-table tbody tr');

            for (let i = 0; i < tableRows.length; i++) {
                if (i < numRows) {
                    tableRows[i].style.display = '';
                } else {
                    tableRows[i].style.display = 'none';
                }
            }
        }
        //filter table on the numer of rows end





    </script>
    <script>
        var textWrapper = document.querySelector('.anim-text');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline({ loop: true })
            .add({
                targets: '.anim-text .letter',
                scale: [4, 1],
                opacity: [0, 1],
                translateZ: 0,
                easing: "easeOutExpo",
                duration: 950,
                delay: (el, i) => 70 * i
            }).add({
                targets: '.anim-text',
                opacity: 0,
                duration: 1000,
                easing: "easeOutExpo",
                delay: 1000
            });
    </script>
    <script>
        const rows = Array.from(document.querySelectorAll('tr'));

        function slideOut(row) {
            row.classList.add('slide-out');
        }

        function slideIn(row, index) {
            setTimeout(function () {
                row.classList.remove('slide-out');
                row.classList.add('slide-in');
            }, (index + 5) * 200);
        }

        rows.forEach(slideOut);

        rows.forEach(slideIn);
    </script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script type="text/javascript" src="script.js"></script>


</body>
