/****************************************
			 RESPONSIVE STYLE
****************************************/

img {
	max-width: 1000px;
	height: auto;
	margin: 0 0 0px 0;
}


/****************************************
			 STYLE SIZE = 1025 
****************************************/

@media screen and (max-width: 1025px) {
.section-title:after {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 50px;
    height: 3px;
    background: #dd3327;
}
	.navigator{
		background: #bbbbbb;
	}

	
.section2 .padding_35 {
		padding: 10px;
	}
	
.section4 .padding_20, 
.section6 .padding_20 {
		padding: 10px 10px 10px 10px;
	}	
	
.up-section  {
		padding: 10px 10px 10px 10px;
	}
	
.widgets {
		margin: 20px 0px 20px 0px;
	}	
	
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}	
	
	
	  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin-top: 5px;
    padding: 14px;	  
	padding: 6px 4px 6px 10px; 
  font-size: 12px;
  border: none;
  border-radius: 4px;
  background: #30608F;  
	  
	  
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
	
 .topnav .search-container button {
  float: right;
  padding: 3px 5px;
  margin-top: -32px;
  margin-right: 3px;
  font-size: 21px;
  border: none;
  cursor: pointer;
  margin-bottom: 13px;
}
	
.navbar a {
  float: left;
  border-right: 1px solid #4F789D;
}	
	
}

/****************************************
			 STYLE SIZE = 641
****************************************/

@media screen and (max-width: 641px) {
	
	.navigator{
		background: #35699F;
	}	
	
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}	
	
.padding_10 {
    padding: 10px 10px;
}

.menu-item { background-color:#003C71;
color:#fff;
	}
.nav-collapse a {
   
    color: #fff;
	padding: 0.1em 1em;

}	

.border-left-right 
    {
		border-left:none;
		border-right: none;;
	}

.banner-box  {
	height:inherit;
}

	pin {
		display: none;
	}	

}

/****************************************
			 STYLE SIZE = 
****************************************/

@media only screen and ( max-width: 40em ) /* 640 */
{
    #nav
    {
        position: relative;
    }
        #nav > a
        {
        }
        #nav:not( :target ) > a:first-of-type,
        #nav:target > a:last-of-type
        {
            display: block;
        }
 
    /* first level */
 
    #nav > ul
    {
        height: auto;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
    }
        #nav:target > ul
        {
            display: block;
        }
        #nav > ul > li
        {
            width: 100%;
            float: none;
        }
 
    /* second level */
 
    #navu li ul
    {
        position: static;
    }
	
	
	

	
}
