@{
    ViewData["Title"] = "Data Sets";
}

<body>



    <!--/***************************************/
             ----   section-2  ----
         ----   OTHER DEFENITIONS  ----
    /***************************************/-->

    <div class="section2 color-pellette-2">
        <div class="row">
            <div class="large-2 medium-12 small-12 padding_20 columns">
                <img src="images/hsrclogo@2x.png" width="180px" class="logo" alt="" />

            </div>

            <div class="large-10 medium-12 small-12 columns padding_35 navigator">

                <nav id="main-nav">

                    <!-- Mobile menu toggle button (hamburger/x icon) -->
                    <input id="main-menu-state" type="checkbox" />
                    <label class="main-menu-btn" for="main-menu-state">
                        <span class="main-menu-btn-icon"></span> Toggle main menu visibility
                    </label>


                    <!-- Sample menu definition -->
                    <ul id="main-menu" class="sm sm-mint">
                        <li><a asp-controller="Projects1" asp-action="Index">Time Recording</a></li>
                        <li>
                            <a href="#">About</a>
                            <ul>
                                <li><a href="#">Introduction to SmartMenus jQuery</a></li>
                                <li><a href="#">Demos + themes</a></li>
                                <li><a href="#">The author</a></li>
                                <li>
                                    <a href="#">The company</a>
                                    <ul>
                                        <li><a href="#">About Vadikom</a></li>
                                        <li><a href="#">Projects</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Privacy policy</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a asp-controller="Projects" asp-action="Index">Projects</a></li>
                        <li class="dropdowng color-pellette-0">
                            <a asp-controller="Projects1" asp-action="Index">Reports</a>
                            <ul class="dropdowng-menu color-pellette-0">
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="GiftDisplay" asp-action="Index">Perfomance indicators</a>
                                </li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Projects Reports</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Contract Reports</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Program Reports</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Employees Report </a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Spend Procurement Report</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Project Budget Report</a></li>

                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="GiftDisplay" asp-action="Index">Dataset Report</ </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="DatasetCitation" asp-action="Index">Dataset Citation  Report</a></li>
                                    </ul>
                                </li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Resourse Output</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Time Recording </a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Interns </a></li>
                                <li class="color-pellette-0">
                                    <a asp-controller="GiftDisplay" asp-action="Index">Gift </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="MyGift" asp-action="Index">My Gift</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="GiftDisplay" asp-action="Index">MoUs </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="ActiveMoUs" asp-action="Index">Active MoUs</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MOU" asp-action="MoUdashboard">All MoUs</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MOU" asp-action="MoUrequest">MoUs Request</a></li>

                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a asp-controller="Projects1" asp-action="Index">Budget</a>
                        </li>
                        <li class="dropdowng color-pellette-0">
                            <a asp-controller="BudgetYears" asp-action="Index">SYSTEM MANAGEMENT</a>
                            <ul class="dropdowng-menu color-pellette-0">
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="" asp-action="Index">Gift Register </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Add Gift</a></li>

                                    </ul>
                                </li>
                                <li class="color-pellette-0"><a asp-controller="DataSet" asp-action="Index">DataSets</a></li>
                                <li class="color-pellette-0"><a asp-controller="License" asp-action="Index">License Adminstrator</a></li>
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="" asp-action="Index">MoUs </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="MoUCreate" asp-action="Index">Create MoU Request</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUView" asp-action="Index">View MoU Request</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUActivity" asp-action="Index">MoU Activity</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUManage1" asp-action="Index">Manage MoU Requests</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUManage2" asp-action="Index">Manage MoU Requests(Legal)</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUManage3" asp-action="Index">Manage MoU Requests(CEO)</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a asp-controller="TeamConfigure" asp-action="Index">TEAM MANAGEMENT</a></li>
                        <li><a asp-controller="AccessGroups" asp-action="Index">ACCESS GROUPS</a></li>
                    </ul>
                </nav>

            </div>

        </div>

    </div>


    <!--/***************************************/
             ----   section-3  ----
         ----   OTHER DEFENITIONS  ----
    /***************************************/-->

    <div class="section3 color-pellette-8 text-center">
        <div class="row padding_40 ">
            <div class="columns small-8 medium-centered small-centered large-centered">
                <h4>Data Set Management System</h4>
                <p class="anim-text">Social science that makes a difference</p>
            </div>
         
            <a asp-controller="Home" asp-action="Index"
               class="button radius padding_10">Home</a>
        </div>
    </div>





    <!--/***************************************/
             ----   section-5  ----
         ----   OTHER DEFENITIONS  ----
    /***************************************/-->

    <div class="section5 color-pellette-5">
        <div class="row collapse" data-equalizer>
            <div class="large-12 columns ">
                <div class="large-4 medium-6 columns padding_10 data-equalizer-watch">
                    <div class="content-blocks content-blocks-1">
                        <h4>Project level</h4>
                        <ul>
                            <li><a asp-controller="DataSetIntroduction" asp-action="Index">  Data introduction</a></li>
                            <li><a asp-controller="DataSetDocuments" asp-action="Index">Project-related documents</a></li>

                            <li><a asp-controller="DataSetCollection" asp-action="Index"> Create collections</a></li>

                        </ul>
                    </div>
                </div>
                <div class="large-4 medium-6 columns padding_10 data-equalizer-watch">
                    <div class="content-blocks content-blocks-2">
                        <h4>Data set level </h4>
                        <ul>
                            <li><a asp-controller="DataSetManage" asp-action="Index">  Manage data set</a></li>
               
                        </ul>
                    </div>
                </div>

                <div class="large-4 medium-6 columns padding_10 data-equalizer-watch">
                    <div class="content-blocks content-blocks-1">
                        <h4>Manage metadata</h4>
                        <ul>
                            <li><a asp-controller="DataSetMetaData" asp-action="Index">  Data set meta data</a></li>
                            <li><a asp-controller="DataSetFileLTP" asp-action="Index"> Data files for LTP</a></li>
                            <li><a asp-controller="DataSetFileRelatedLTP" asp-action="Index">Related documents for LTP</a></li>
                            <li><a asp-controller ="DataSetFile" asp-action="Index"> Data file</a></li>
                            <li><a asp-controller="DataSetRelatedDocuments" asp-action="Index"> Related documents</a></li>
                            <li><a asp-controller="DataSetRelatedDocOrder" asp-action="Index"> Related documents object order</a></li>
                            <li><a asp-controller="DataSetProducerOrder" asp-action="Index">Data producers order</a></li>
                            <li><a asp-controller="DataSetFileAcknowledge" asp-action="Index"> Other Identifications / Acknowledgements order</a></li>
                            <li><a asp-controller="DataSetAuthors" asp-action="Index"> Authors / Principal investigators order</a></li>

                        </ul>
                    </div>
                </div>
                <div class="large-4 medium-6 columns padding_10 data-equalizer-watch">
                    <div class="content-blocks content-blocks-1">
                        <h4>Reports</h4>
                        <ul>
                            <li><a asp-controller="DataSetDataReports" asp-action="Index">   Data set reports</a></li>
                            <li><a asp-controller="DataSetKtree" asp-action="Index"> Ktree files / meta data</a></li>

                            <li><a asp-controller="DataSetKtreeVsError" asp-action="Index">  RMS versus KTREE error report</a></li>
                            <li><a asp-controller="DataSetCompareCitation" asp-action="Index">  Compare dataset citations</a></li>
                            <li><a asp-controller="DataSetAccessParameters" asp-action="Index"> Access parameters</a></li>
                            <li><a asp-controller="DataSetSearchFilter" asp-action="Index">  Advanced search filters</a></li>
                            <li><a asp-controller="DataSetCuration" asp-action="Index"> Data curation progress</a></li>
                            <li><a asp-controller="DataSetLog" asp-action="Index"> Downloads log report</a></li>
                            <li><a asp-controller="DataSetRequestReport" asp-action="Index">  Downloads request report</a></li>
                            <li><a asp-controller="DataSetUserReport" asp-action="Index"> Downloads users report</a></li>
                            <li><a asp-controller="DataSetDistinctUser" asp-action="Index"> Distinct users report</a></li>

                        </ul>
                    </div>
                </div>
                <div class="large-4 medium-6 columns padding_10 data-equalizer-watch">
                    <div class="content-blocks content-blocks-2">
                        <h4>Admin control panel </h4>
                        <ul>
                            <li><a asp-controller="DataSetCuratorAccess" asp-action="Index">   Curators access</a></li>
                            <li><a asp-controller="DataSetCaptureAccess" asp-action="Index">  Capturers access</a></li>
                            <li><a asp-controller="DataSetPerfomanceDeposit" asp-action="Index">  Performance deposit</a></li>
                            <li><a asp-controller="DataSetPerfomanceIndicator" asp-action="Index">   Performance indicator</a></li>

                        </ul>
                    </div>
                </div>

                <div class="large-4 medium-6 columns padding_10 data-equalizer-watch">
                    <div class="content-blocks content-blocks-1">
                        <h4>Data curation information</h4>
                        <ul>
                            <li><a asp-controller="DataSetNews" asp-action="Index">  News</a></li>
                            <li><a asp-controller="DataSetResources" asp-action="Index"> Resources</a></li>
                           

                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </div>



    <!--/***************************************/
             ----   section-6  ----
         ----   OTHER DEFENITIONS  ----
    /***************************************/-->
    <div class="section6 color-pellette-5 padding_20">
        <div class="row collapse color-pellette-5 hide-for-large show-for-small-only">
            <div class="wrappon">
                <div class="large-12 color-pellette-2 columns up-section">
                    <div class="large-3 medium-6 small-6 columns padding_20">
                        <div class="blocks blocks-1">
                            <div class="large-7 medium-7 small-12 columns padding_40"><h3>Uploaded Documents for the month <br><hlite>59%</hlite></h3></div>
                            <div class="large-5 medium-5 small-12 columns padding_20 hide"><img src="images/Group81.png" alt="" /></div>
                        </div>
                    </div>
                    <div class="large-3 medium-6 small-6 columns padding_20">
                        <div class="blocks blocks-2">
                            <div class="large-7 medium-7 small-12 columns padding_40"><h3>Data captured for the for the month<br><hlite>80%</hlite></h3></div>
                            <div class="large-5 medium-5 small-12 columns padding_20 hide"><img src="images/graph-report.png" alt="" /></div>

                        </div>
                    </div>
                    <div class="large-3 medium-6 small-6 columns padding_20">
                        <div class="blocks blocks-3">

                            <div class="large-7 medium-7 small-12 columns padding_30"><h3>Data modifications for the month<br><hlite>40%</hlite></h3></div>
                            <div class="large-5 medium-5 small-12 columns padding_20 hide"><img src="images/Group112.png" alt="" /></div>

                        </div>
                    </div>
                    <div class="large-3 medium-6 small-6 columns padding_20">
                        <div class="blocks blocks-4">
                            <div class="large-12 columns padding_20">
                                <h3>LATEST DATA ENTRIES </h3>
                                <ul>
                                    <li>Interpark South Africa Pty Ltd</li>
                                    <li>Interpark South Africa Pty Ltd</li>
                                </ul>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@*
    <div id="modal-popup1" class="overlay">
        <div class="popup">
            <h2>Add Quick Reminder</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                <form>
                    <div class="">
                        <div class="search-section">

                            <div class="medium-12 cell ">
                                <label>
                                    Reminder for
                                    <span class="mandatory-star">*</span>

                                    <select>
                                        <option value="D -GE Support Service">Connectionz</option>
                                        <option value="D -GE Support Service">Roefs</option>

                                    </select>
                                </label>
                            </div>
                            <div class="medium-12 cell">
                                <label>
                                    Reminder date
                                    <input type="date" />

                                </label>
                            </div>




                            <div class="medium-12 cell">
                                <label>
                                    Comment
                                    <textarea id="comment-input" rows="1" oninput="adjustHeight()"></textarea>

                                </label>
                            </div>
                            <div class="medium-12 cell" style="  display: flex; gap: 10px; flex-basis:revert ">
                                <button style="     background-color: grey;
            height: 35px;
            width: 100px;
            border-radius: 6px;
            color: white;
            font-family: inherit;
            margin-top: 15px;">
                                    Save
                                </button>

                            </div>
                        </div>
                    </div>

                </form>



            </div>
        </div>
    </div>
    </div>
*@


    <!--/***************************************/
                  Java scripts
    /***************************************/-->


</body>